.fullscreen_button {
    border: none;
    background: transparent;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 1px;
    margin-left: 12px;

    &:hover {
        cursor: pointer;
    }
}
