POSTGRES_USER=user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=diploma_db

JWT_SECRET=change_me_super_long_jwt_secret
JWT_REFRESH_SECRET=change_me_super_long_refresh_secret
CLIENT_URL=http://your-domain.com

MIGRATE_ON_START=true

DB_BIND_HOST=127.0.0.1
DB_PORT=15432

BACKEND_BIND_HOST=127.0.0.1
BACKEND_PORT=4000

FRONTEND_BIND_HOST=0.0.0.0
FRONTEND_PORT=80
