# =====================================================
# DATABASE (POSTGRES IN DOCKER)
# =====================================================
POSTGRES_USER=user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=diploma_db

# IMPORTANT:
# db = docker service name (НЕ localhost!)
DATABASE_URL=postgresql://user:password@db:5432/diploma_db?schema=public


# =====================================================
# AUTH
# =====================================================
JWT_SECRET=change_me_super_long_jwt_secret
JWT_REFRESH_SECRET=change_me_super_long_refresh_secret


# =====================================================
# SERVER CONFIG
# =====================================================
NODE_ENV=production
PORT=4000

MIGRATE_ON_START=true


# =====================================================
# CLIENT / FRONTEND
# =====================================================
CLIENT_URL=https://your-domain.com
SERVER_PUBLIC_URL=https://your-domain.com


# =====================================================
# FILE STORAGE (LOCAL OR S3)
# =====================================================
FILE_STORAGE_DRIVER=local

# LOCAL MODE
UPLOADS_DIR=./uploads


# =====================================================
# S3 / MINIO (OPTIONAL FUTURE)
# =====================================================
S3_ENDPOINT=http://localhost:9000
S3_PORT=9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password123
S3_BUCKET=covers
S3_PUBLIC_URL=http://localhost:9000