@use '@shared/styles/variables' as *;

.content {
  display: flex;
  flex-direction: column;
  background: var(--bg-content);
  border-radius: 24px;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  width: 100%;
  border: 1px solid var(--glass-border);
  @media (min-width: $breakpoint-lg) {
    padding: 32px;
  }
}

.cardBody {
  @media (max-width: $breakpoint-md) {
    padding: $padding-xl;
  }
}

.description {
  color: var(--text-secondary);
  line-height: 1.6;
  font-size: $font-size-medium;
  text-align: justify;
  margin: 0;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 25px;
}

.subjectTag {
  margin-bottom: 8px;
  padding: 4px 12px;
  font-size: $font-size-small;
  border-radius: $border-radius-md;
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  color: var(--text-primary);
}
.details {
  width: 100%;
  padding: $padding-xl;
  background: var(--glass-bg);
  border-radius: $border-radius-sm;
  border: 1px solid var(--glass-border);

  @media (max-width: $breakpoint-md) {
    :global(.ant-space-item) {
      width: 100%;
    }
  }
}

.previewDetails {
  padding: 12px;
  background: #f0f0f0;
  border-radius: $border-radius-sm;

  .ant-space {
    width: 100%;
  }
}

.subSectionTitle {
  margin-bottom: $padding-xl;
  color: var(--text-primary);
}
.subSectionTitle {
  margin-bottom: $padding-xl;
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $padding-xl;
}

.toggleButton {
  color: #08a6f0ff;
  font-weight: $font-weight;
  display: flex;
  align-items: center;
  gap: 4px;
}

.spaceContainer {
  width: 100%;
}

.details,
.previewDetails {
  background: var(--glass-bg);
  border-radius: $border-radius-sm;
  border: 1px solid var(--glass-border);
  transition: all 0.3s ease;
}

@media (max-width: $breakpoint-md) {
  .content {
    margin: 0 0px;
  }

  .description {
    font-size: $font-size-small;
  }

  .details {
    padding: 12px;
  }
}
