@use '@shared/styles/variables' as *;

.card {
  border-radius: $border-size-secondary;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover {
  height: 220px;
  background: $background-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0 !important;
  font-size: $font-size-large !important;
  color: $text-primary !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.genre {
  background-color: $background-secondary;
  color: $text-primary;
  font-size: $font-size-small;
  padding: 2px 6px;
  border-radius: $border-size-secondary;
}

.available {
  margin: 0;
  font-size: $font-size-small;
  color: $text-secondary;
}
