@use './variables' as *;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important;
  scroll-behavior: smooth;
  color: $text-primary;
  border-radius: $border-size-primary;
}

* {
  box-sizing: border-box;
}
