[class^='ant-'] {
  font-family: var(--font-family-base) !important;
}

[class^='ant-form-item'] {
  margin-bottom: 8px !important;
}

[class^='recharts'] {
  outline: none !important;
  box-shadow: none !important;
  user-select: none;
}
