[class^='ant-'] {
  font-family: 'Inter', sans-serif !important;
}

[class^='ant-form-item'] {
  margin-bottom: 8px !important;
}

[class^='recharts'] {
  outline: none !important;
  box-shadow: none !important;
  user-select: none;
}
