// TODO Дополнять по необходимости

// TEXT COLORS
$text-primary: #111;
$text-secondary: #555;
$text-disabled: #888;
$text-error: #ff4d4f;
$text-success: #52c41a;
$text-white: #fff;
$text-black: #000;

// BACKGROUND COLORS
$background-primary: #0c0c0c;
$background-secondary: #282828;
$background-foreground: #262626;
$background-white: #fff;
$background-gray: #f5f5f5;

// BORDER SIZE
$border-size-primary: 24px;
$border-size-secondary: 12px;

// FONT SIZE
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-heading: 22px;

// PADDING
$padding-xl: 16px;
