@use '@shared/styles/variables' as *;

.grid {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;

    :global {
        .resizable-grid_hidden .react-resizable-handle {
            display: none;
        }

        .resizable-grid .react-resizable-handle {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 32px;
            height: 32px;

            &:hover {
                cursor: se-resize;
            }
        }

        .react-grid-layout {
            position: relative;
            height: 100% !important;
            width: 100% !important;
        }

        .resizable .react-grid-layout {
            transition: height 200ms ease;
        }

        .react-grid-item {
            max-width: 100% !important;

            &.react-draggable-dragging {
                z-index: 100;
            }

            &.react-grid-placeholder {
                opacity: 0.2;
                z-index: 2;
                user-select: none;
            }
        }

        .resizable .react-grid-item {
            &.react-draggable-dragging {
                transition: none;
            }
        }
    }

    &__fullscreen {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item[data-fullscreen='true'] {
        position: static !important;
        height: 100% !important;
    }
}
