@use '@shared/styles/variables' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 20px;
}

.formWrapper {
  width: 100%;
  max-width: 450px;
  background: $background-white;
  padding: 20px;
  border-radius: $border-size-primary;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 16px;
}

.title {
  font-size: $font-size-heading;
  color: $text-primary;
  margin-bottom: 4px !important;
}

.subtitle {
  font-size: $font-size-medium;
  color: $text-secondary;
  margin: 0;
  line-height: 1.5;
}

.footer {
  text-align: center;
}
