
.mobileNav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 64px;
  background: #001529;
  border-top: 1px solid #333;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  flex-shrink: 0;

  a,
  div {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: #1890ff;
  }
}
