@use '@shared/styles/variables' as *;

.card {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: $border-radius-sm;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.title {
  margin-bottom: 8px !important;
  color: #262626;
  font-weight: $font-weight;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.authorRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.author {
  color: $text-secondary;
  font-size: $font-size-small;
  line-height: 1.3;
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconButton {
  color: #69b1ff;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8c8c8c;
  font-size: $font-size-small;
}
