@use '@shared/styles/variables' as *;

.wishlistButton {
  &.inWishlist {
    background-color: $text-error;
    border-color: $text-error;

    &:hover {
      background-color: ($text-error);
      border-color: ($text-error);
    }
  }
}
