@use '@shared/styles/variables' as *;

.wishlistButton {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.08);
  }

  &:active {
    transform: scale(0.95);
  }
}

.inWishlist {
  background-color: $text-error !important;
  border-color: $text-error !important;
  color: white !important;
}
